.example-card {
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:35px;
    margin-left: 30%; 
  }
  .image{
    height: 300px;
    margin: 0 -16px 16px -105px
     
  }
  .subtitle{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: gold;
    text-align: center;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15%;
  }
  .login-button{
    display: inline;
    margin-left: 75%;
  }
  .err{
    color: red; 
    margin-left: 15%; 
    margin-top: -4%;
    margin-bottom: 4%;
  }