<mat-card>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="head-line">My App</h1>
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;" *ngIf = "!(authService.user | async)"> 
      <button mat-raised-button class="nav-side" (click)= "toLogin()">
        Login
      </button>
      
      <button mat-raised-button class="nav-side" (click)= "toRegister()">
        Register
      </button>

      <button mat-raised-button class="nav-side" (click)= "toBooks()">
        Books
      </button>
  </div>

  <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;" *ngIf = "(authService.user | async)"> 


    <button mat-raised-button class="nav-side" (click)= "toLogout()">
      Logout
    </button>
    
    <!-- <button mat-raised-button class="nav-side" (click)= "toRegister()">
      Register
    </button> -->

    <button mat-raised-button class="nav-side" (click)= "toBooks()">
      Books
    </button>
  
 

</div>

  </mat-toolbar-row>
</mat-toolbar>


</mat-card>