<div *ngIf = "!(authService.user | async)"> 
  <h1> Please <button  mat-stroked-button color="primary" (click)="toLogin()">Login</button> or <button  mat-stroked-button color="primary" (click)="toRegister()">Register</button> to manage your reading list </h1>
</div>
<br>
<div *ngIf = "(authService.user | async)"> 

  <P>Welcome {{nickname}}! </P>
</div>
<div *ngIf = "(authService.user | async)">
    <mat-card-subtitle class="subtitle">
        Add book
    </mat-card-subtitle>
    <mat-card-content>
        <mat-form-field class="example-container">
            <input  [(ngModel)] = "bookName" name = "bookName" matInput placeholder="Book name">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-container">
              <input  [(ngModel)] = "writerName" name = "writerName" matInput placeholder="Writer name">
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions class="login-button">
              <button  mat-stroked-button color="primary" (click)="addBooks()">Add book</button>
            </mat-card-actions>



            <mat-card-subtitle class="subtitle">
              Your Books
            </mat-card-subtitle>

            <div>

                <ul>
              <h2> Your Items </h2>
                  <book *ngFor = "let book of books" 
                        [data]="book"
                        > </book>
              
                </ul>
              


</div>